@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@300;400;500;600;700;800&family=Syne:wght@600;700;800&display=swap");

@import "tailwindcss";

@theme {
  --color-primary: #2e74e6;
  --color-primary-container: #4f8df5;
  --color-background: #ffffff;
  --color-on-background: #F8FAFC;
  --color-on-primary: #FFFFFF;
  --color-on-primary-container: #e6effd;
  --color-on-surface-variant: #a7cbf3;
  --color-outline-variant: #114b8e;

  --spacing-gutter: 24px;
  --spacing-container-max: 1280px;

  --font-headline-lg: "Poppins", sans-serif;
  --font-label-sm: "Poppins", sans-serif;
  --font-serif: "Poppins", sans-serif;
  --font-sans: "Poppins", sans-serif;
  --font-poppins: "Poppins", sans-serif;

  --text-headline-lg: 36px;
  --text-label-sm: 12px;

  --animate-fade-in: fade-in 0.4s cubic-bezier(0.16, 1, 0.3, 1);

  @keyframes fade-in {
    from {
      opacity: 0;
      transform: translateY(4px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
html,
body,
#root {
  height: 100%;
}

* {
  font-family: "Poppins", sans-serif;
}

button {
  cursor: pointer;
}
